body{
    font-family: 'Arvo',serif
    
}
.height{
    /*height: 1000px !important*/
    min-height: 100vh;

}
.height-80{
    /*height: 1000px !important*/
    min-height: 80vh;

}
.font-wieght-bold{
    font-weight: bold;
}
.title-underline{
    width: 200px;
    height: 10px;
    margin: auto;
}
.gray{
    background:rgb(7, 18, 29);
    
}
 .about-picture{
     background: url(../img/laptop.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed; 
 }
 card-height{
     min-height: 25vh;
 }
 #filler,#progress{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(12, 1, 1, 0.9)) ,url(../img/bookLove.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}